
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#eaeaea;
}

.app{
  width:1400px;

  margin:20px auto;
  display:flex;
}

/* ------------------------------    LEFT  --------------------------------- */
.left{
  width:305px;
  background:#fff;
  padding:25px;
}

.avatar{
  width:120px;
  height:120px;
  border-radius:50%;
  background:#ddd;
  margin:0 auto 10px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.avatar img{
   width:120px;
  height:120px;
}

.left h3{
  text-align:center;
}

.role{
  text-align:center;
  color:#777;
  font-size:14px;
}

/* SOCIALS */
.socials{
  text-align:center;
  margin:10px 0 20px;
}
.socials i{
  width:28px;
  height:28px;
  border-radius:50%;
  background:#f4b400;
  color:#000;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  margin:0 4px;
  font-size:13px;
}

/* ---------------------------- INFO   ----------------------------- */
.info div{
  display:flex;
  font-size:13px;
  margin:6px 0;
  border-bottom:1px solid #eee;
}
/* .info div b{
  background:#f4b400;
  padding:4px 8px;
  width:90px;
}
.info div span{
  padding:4px 20px;
} */
 .info div{
  display:flex;
  align-items:center;
  justify-content:space-between; /* chap va o‘ngga yopishtiradi */
  font-size:13px;
  margin:6px 0;
  border-bottom:1px solid #eee; /* border bolsa chiroyli chiqar ekan */
}

.info div b{
  background:#f4b400;
  padding:4px 8px;
  width:90px;
  text-align:left;
}

.info div span{
  padding:4px 8px;
  text-align:right;  /* O‘NGGA YOPISHADI */
}


.green{color:#4caf50;}

h4{
  margin:20px 0 10px;
  font-size:14px;
}

/* -------------------------- PROGRESS  ----------------------- */
.progress{
  margin-bottom:12px;
  font-size:12px;
}
.progress-top{
  display:flex;
  justify-content:space-between;
  margin-bottom:4px;
}
.bar{
  background:#ddd;
  height:4px;
}
.bar span{
  display:block;
  height:4px;
  background:#f4b400;
}

.left ul{
  font-size:13px;
  margin-left:15px;
}

/* CENTER */
.center{
  width: 970px;
  flex:1;
  margin:0 15px;
}

/* HERO */
.hero{
  position:relative;
  background:#fff;
  display:flex;
  padding:40px;
  align-items:center;
}

.hero-text{
  width:55%;
}
.hero-text h1{
  font-size:32px;
}
.hero-text p{
  color:#666;
  margin:20px 0;
  line-height:1.5;
}
.hero-text button{
  background:#FFB400;
  border:none;
  padding:12px 25px;
  font-weight:bold;
  border-radius: 5px;
}

.hero-img{
  width:45%;
  height:330px;
  /* background:#ddd; */
  display:flex;
  align-items:center;
  justify-content:center;
  /* border: 1px solid red; */
  /* background: url(man_1.png) 80% 80%; */
}

/* shapes */
.shape{position:absolute;}
.circle{
  width:16px;
  height:16px;
  border-radius:50%;
}
.extra1{
  top:120px;
  left:120px;
  border:2px solid #bbf400
}

.extra2{
  bottom:120px;
  right:600px;
  border:2px solid #684e09
}

.square{
  width:16px;
  height:16px;
transform: rotate(46deg);
}
.triangle{
  /* width:30px;
  height:30px; */
  border-left:8px solid transparent;
  border-right:8px solid transparent;
  border-bottom:16px solid red;
 
}
 
.y{border:2px solid #f4b400;top:20px;left:30px;}
.g{border:2px solid #4caf50;bottom:40px;left:300px;}
.b{border:2px solid #2196f3;top:80px;right:320px;}
.r{bottom:30px;right:60px;}

/*----------------------- SERVICES ---------------------------------------- */
.services{
  background:#f3f3f3;
  margin-top:20px;
  padding:50px;
}
.services h2{
  text-align:center;
}
.sub{
  text-align:center;
  color:#777;
  margin:15px 0 40px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}
.card{
  background:#fff;
  padding:30px;
  text-align:center;
}
.card .icon{
  font-size:32px;
  margin-bottom:15px;
  color:#FFB400;
}
.card.active{background:#fafafa;}
.card a{
  color:#f4b400;
  text-decoration:none;
  font-size:14px;
}

/* RIGHT */
.right{
  width:108px;
  background:#fff;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
#moon{
  transform: translateY(-200px);
}
.tool{
  width:36px;
  height:36px;
  border-radius:50%;
  background:#f2f2f2;
  margin:12px 0;
  display:flex;
  align-items:center;
  justify-content:center;
  transform: translateY(-80px);
}


.extra-title{
  text-align:left;
  margin:20px 0 10px;
  font-size:14px;
}

.extra-skills{
  list-style:none;
  padding:0;
  margin:0;
}

.extra-skills li{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:13px;
  color:#555;
  margin-bottom:10px;
}

/* kvadrat icon */
.extra-icon{
  width:12px;
  height:12px;
  border:2px solid #FFB400;
  position:relative;
  flex-shrink:0;
}

/* ichidagi ikkinchi kvadrat */
.extra-icon::after{
  content:"";
  width:12px;
  height:12px;
  border:2px solid #FFB400;
  position:absolute;
  top:3px;
  left:3px;
}
.extra-skills{
  padding-left:0 !important;
  margin-left:0 !important;
}

/* .extra-skills li{
  padding-left:0 !important;
  margin-left:0 !important;
} */

/* .extra-icon{
  margin-left:0 !important;
} */


.download-cv{
  margin-top:25px;
  background:#FFB400;             
  color:#000;
  padding:14px 16px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  font-weight:bold;
  font-size:14px;
  cursor:pointer;
  border-radius: 5px;
}

.download-icon{
  width:28px;
  height:28px;
  background:#e0a800;             
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:14px;
}
/* .extra-skills li{
  
  margin-left:0 !important;
} */

